**/.git
**/.DS_Store
**/node_modules
**.env
**.dev
**.idea/
**.DS_Store
**pycache*
**.vscode
**.ipynb_checkpoints
**/test
**pylint-shell.sh
**/htmlcov
**.pytest_cache
**.gitlab-ci.yml
**.pytest_cache
**.venv
**__pycache__
**pytest.sh
**testenv
